<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<table>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.address}"></td>
    </tr>
</table>

<table>
    <tr th:each="teacher : ${findTeacher}">
        <td th:text="${findTeacher.id}"></td>
        <td th:text="${findTeacher.name}"></td>
        <td th:text="${findTeacher.address}"></td>
    </tr>
</table>


<!-- <p th:text="'El estudiante con Id, ' + ${studentDeleted} + ' fue eliminado exitosamente'" />

<p th:text="'El estudiante con Id, ' + ${studentNoExist} + ' No existe'" /> -->


</body>
</html>